[submodule "GeneralCMakePresets"]
	path = GeneralCMakePresets
	url = https://github.com/ChristianHinkle/GeneralCMakePresets
[submodule "CppUtils_Core"]
	path = CppUtils_Core
	url = https://github.com/ChristianHinkle/CppUtils_Core
[submodule "CppUtils_Concepts"]
	path = CppUtils_Concepts
	url = https://github.com/ChristianHinkle/CppUtils_Concepts
[submodule "CppUtils_Misc"]
	path = CppUtils_Misc
	url = https://github.com/ChristianHinkle/CppUtils_Misc
